<p>How much Bitcoin do you own?</p>

<form action="/bitcoins">
  <label for="">Amount</label>
  <input type="text" name="amount" value="<%= params["amount"] %>">
  <button>Submit</button>
</form>

<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>
<p>Your Bitcoin is worth $<%= @usd_value %>.</p>