<h1>New Post</h1>

<form action="/posts" method="post">
  <%# add form fields %>
  <p>
  <label for="author">Author</label>
  <input type="text" name="author" id="author">
  </p>

  <p>
  <label>Body</label>
  <input type="text" name="body">
  </p>

  <p>
  <label>Image URL</label>
  <input type="text" name="image">
  </p>
  
  <button>Submit</button>
</form>
